.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7faff;
}
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  box-sizing: border-box;
}